.search {
 margin-left: 250px;
 margin-right: 250px;
}

.input__container {
    margin-top: 50px;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
}

input {
    background-color: pink;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-indent: 10px;
}

input::placeholder {
    color: rgb(12, 12, 12);
}